* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

.main{
    max-width: 1500px;
    height: 100%;
    background: #FFFFFF;
}

.navigation{
    display: flex;
    margin: 59px;
}

.list_navigation{
    display: flex;
}


.name_navigation_h1{
    max-width: 500px;
    /* topo | direita | inferior | esquerda */
    margin: 0px 200px 0 0;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;

    color: #000000;
}
.name_navigation_a{
    text-decoration: none;
    /* topo | direita | inferior | esquerda */
    padding: 30px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
}
.main_portfolio{
    display: flex;
    flex-direction: row;
}
.main_content{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    /* topo | direita | inferior | esquerda */
    margin: 200px 0px 0px 200px;
}

.button{
    display: flex;
    max-width: 197px;
    height: 72px;
    left: 269px;
    top: 300px;
    
    background: linear-gradient(90deg, #32F6F6 0%, #A6A79F 100%);
    border-radius: 50px 50px 50px 0px;
    justify-content: center;
}

.button_h1{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    margin-top: 10px;
    
    color: #FFFFFF;
        
}

.main_content_h1{
    margin-top: 10px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 85px;

    color: #000000;
    border-bottom: 2px solid #CCC;

}

.main_content_p{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;

    color: #000000;
}

.container_portfolio{
    display:flex;
    max-width: 375px;
}

.button_portfolio{
    display: flex;
    width: 175px;
    height: 60px;
    left: 269px;
    top: 649px;
    margin: 30px auto;

    background: linear-gradient(90deg, #DF580C 0%, #FD993D 100%);
    border: 3px solid #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    justify-content: center;
}

.h1_portfolio{
    margin-top: 15px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;

    color: #FEFEFE;
}


.portfolio_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.media_left_portfolio{
    /* topo | direita | inferior | esquerda */
    margin: 30px 0px 0px 0px;
}

.media_portfolio{
    height: 35px;
}

.container_image_right{
    background-image: url(images/image.jpeg);
    background-repeat: no-repeat ;
    background-size: cover;
    border-radius: 50%;
    width: 500px;
    /* topo | direita | inferior | esquerda */
    margin: 0px 20px 0px 80px;
}



/*SECTION 2 */

.section2{
    background-color: #fff;
    max-width: 1500px;
}

.main_section2{
    display: flex;
    margin-top: 50px;
}


.hand_left{
    background-image: url("images/Rectangle.svg");
    height: 800px;
    width: 525px;
}


.portfolio_section2_pages{
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: left;
    margin-left: 30px;
}

.resume_section2{
    margin-top: 200px;
    border-bottom: 1px solid #CCC;

}

.section2_title{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 85px;

    color: #000000;
    margin-bottom: 30px;
    border-bottom: 1px solid #CCC;
}


.section2_paragraph{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
    max-width: 800px;
    margin-top: 30px;
    padding-right:30px;

}

.section2_media_left_portfolio{
    flex-direction: row;
    display: flex;
    padding: 10px;
}


/*SECTION 3*/

.section3{
    max-width: 1500px;
    background-image: radial-gradient( circle 957px at 8.7% 50.5%,  rgba(246,191,13,1) 0%, rgba(249,47,47,1) 90% );
}

.container_section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img_section3{
    margin-top: 100px;
    width: 100px;
}

.title_section3{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 55px;

    color: #fff;
    margin-top: 20px;
}

.subtitle_section3{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    color: #fff;
}

.paragraph_section3{
    max-width: 700px;
    padding: 20px;
    color: #FEFEFE;
    font-size: 20px;
    margin-bottom: px;
}
