* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

.main{
    max-width: 1500px;
    height: 100%;
    background: #FFFFFF;
    margin: 10px auto;
}

.navigation{
    display: flex;
    margin: 59px;
}

.list_navigation{
    display: flex;
}


.name_navigation_h1{
    max-width: 500px;
    /* topo | direita | inferior | esquerda */
    margin: 0px 200px 0 0;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;

    color: #000000;
}
.name_navigation_a{
    text-decoration: none;
    /* topo | direita | inferior | esquerda */
    padding: 30px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
}
.main_portfolio{
    display: flex;
    flex-direction: row;
}
.main_content{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    /* topo | direita | inferior | esquerda */
    margin: 200px 0px 0px 200px;
}

.button{
    display: flex;
    max-width: 197px;
    height: 72px;
    left: 269px;
    top: 300px;
    
    background: linear-gradient(90deg, #32F6F6 0%, #A6A79F 100%);
    border-radius: 50px 50px 50px 0px;
    justify-content: center;
}

.button_h1{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    margin-top: 10px;
    
    color: #FFFFFF;
        
}

.main_content_h1{
    margin-top: 10px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 85px;

    color: #000000;
    border-bottom: 2px solid #CCC;

}

.main_content_p{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;

    color: #000000;
}

.container_portfolio{
    display:flex;
    max-width: 375px;
}

.button_portfolio{
    display: flex;
    width: 175px;
    height: 60px;
    left: 269px;
    top: 649px;
    margin: 30px auto;

    background: linear-gradient(90deg, #DF580C 0%, #FD993D 100%);
    border: 3px solid #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    justify-content: center;
}

.h1_portfolio{
    margin-top: 15px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;

    color: #FEFEFE;
}


.portfolio_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.media_left_portfolio{
    /* topo | direita | inferior | esquerda */
    margin: 30px 0px 0px 0px;
}

.media_portfolio{
    height: 35px;
}

.container_image_right{
    background-image: url(images/image.jpeg);
    background-repeat: no-repeat ;
    background-size: cover;
    border-radius: 50%;
    width: 500px;
    /* topo | direita | inferior | esquerda */
    margin: 0px 20px 0px 80px;
}



/*SECTION 2 */

.section2{
    background-color: #fff;
    max-width: 1500px;
    margin: 10px auto;
}

.main_section2{
    display: flex;
    margin-top: 50px;
}


.hand_left{
    background-image: url("images/Rectangle.svg");
    height: 800px;
    width: 525px;
}


.portfolio_section2_pages{
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: left;
    margin-left: 30px;
}

.resume_section2{
    margin-top: 200px;
    border-bottom: 1px solid #CCC;

}

.section2_title{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 85px;

    color: #000000;
    margin-bottom: 30px;
    border-bottom: 1px solid #CCC;
}


.section2_paragraph{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
    max-width: 800px;
    margin-top: 30px;
    padding-right:30px;

}

.section2_media_left_portfolio{
    flex-direction: row;
    display: flex;
    padding: 10px;
}


/*SECTION 3*/

.section3{
    max-width: 1500px;
    margin: 10px auto;
}

.container_section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img_section3{
    margin-top: 100px;
    width: 100px;
}

.title_section3{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;

    color: #000000;
    margin-top: 20px;
}

.subtitle_section3{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    color: #000000;
}

.paragraph_section3{
    max-width: 700px;
    padding: 20px;
    color: #000000;
    font-size: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #CCC;
}
/*SECTION 4*/

.section4{
    max-width: 1500px;
    margin: 10px auto;

}


.div_text_sec4{
    max-width: 400px;
    margin-left: 100px;
    margin-top: 180px;
    margin-bottom: 80px;
}


.h1_sec4{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
}

.row_cards{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #32F6F6 0%, #A6A79F 100%);
    width: 350px;
    height: 320px;
    margin: 20px;
}

.img_card{
    width: 100px;
    height: 100px;
    padding: 20px;
    margin-bottom: 5px;
}

.card_title{
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-bottom: 10px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
}
.paragraph_card{
    text-align: center;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;

    color: #fff;
}

.separator_cards{
    display: flex;
    flex-direction: row;
}

.separator_skills_row{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.img_skills{
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.separator_skills_column{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.paragraph_card_skills{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    color: #fff;
}



/*SECTION 5*/

.div_recentprojects{
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 20;
    display: flex;
    flex-direction: row;
}

.div_recentprojects_header{
    flex-basis: 50%;
    align-items: center;
    text-align: left;
}
.div_recentprojects_header_right{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-basis: 50%;

}
.div_recentprojects_header_link{
    text-decoration: none;
    color: #000000;
    background: linear-gradient(90deg, #DF580C 0%, #FD993D 100%);
    border-radius: 50px 50px 50px 0px;
    justify-content: center;
    padding: 20px;
    font-size: 20px;

}

.div_recentprojects_header_title{
    font-size: 15px;
}

.div_recentprojects_header_subtitle{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
}


.section5{
    max-width: 1500px;
    margin: 10px auto;
}

.cards_section5{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    margin-top: 20px;
}

.card_section5{
    width: 350px;
    height: 370px;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 5.33333px 16px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}


.img_card_section5{
    width: 80%;
    margin: 20px;
    border-radius: 10%;
}

.card_section5_title{
    padding: 10px;
    text-align: center;
    color: #000000;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
}

.card_section5_paragraph{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #000000;
}

.card_section5_link{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    color: #000000;
}

@media (max-width: 80em){
    .main_content{
        margin: 100px 0px 0px 20px;
    }
    .name_navigation_h1{
        margin: 0px 0px;
    }
}

@media (max-width: 62em){
    .container_image_right{
        margin: 0px 10px;
    }

    .hand_left{
        display: none;
    }
    .main_section2{
        display: flex;
        flex-direction: column;
    }
    .portfolio_section2{
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .resume_section2{
        margin: 0 auto;
    }
    .section2_title{
        text-align: center;
    }

}

@media (max-width: 53em){
    .container_image_right{
        display: none;
    }
    .navigation{
        display: none;
    }
    .main_content{
        margin: 30px 30px;
    }
    .resume_section2{
        margin: 0 30px;
    }

    .row_cards{
        display: flex;
        flex-direction: column;
    }
    .card{
        margin: 30px auto;
    }

    .container_section3{
        padding: 20px;
    }

    .div_recentprojects{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .div_recentprojects_header{
        text-align: center;
    }
    .div_recentprojects_header_right{
        margin: 0 auto;
    }

    .cards_section5{
        flex-direction: column;
    }
    .card_section5{
        margin: 20px auto;
    }
}


@media (max-width: 30em){
    .container_portfolio{
        flex-direction: column;
    }
}